* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline-color: none;
  background-color: transparent;
}

body {
  font-family: sans-serif;
}